.battlefield {
  background: #9b4813;
  width: calc(100% - 40px);
  left: 20px;
  height: calc(100% - 160px);
  position: relative;
  box-sizing: border-box;
  top: 155px;
  &-grid {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #66371a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
    }

    &__preview {
      opacity: 0.4;
    }

    &.z-index-5 {
      z-index: 5;
    }
  }
  .zombie-grid {
    position: absolute;
    height: 100px;
    width: 100px;
    color: #fff;
    display: flex;
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      transform: scale(1.2);
    }
  }
}
